@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");
.primary-title {
  margin: 2rem 0;
  font-size: 2rem;
}

.sub-title {
  font-size: 1.6rem;
  font-weight: 700;
}

.sub-title--cyan {
  font-size: 1.6rem;
  font-weight: 700;
  color: #3cb4ac;
}

@media (min-width: 600px) {
  header {
    background: url("./images/image-hero-desktop.jpg") center/cover;
    height: 35rem;
  }
}

.mb-xl {
  margin-bottom: 10rem !important;
}

.mb-lg {
  margin-bottom: 5rem !important;
}

.mb-md {
  margin-bottom: 2rem !important;
}

.mb-sm {
  margin-bottom: 0.7rem !important;
}

.text-cyan {
  color: #3cb4ac !important;
}

.text-center {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Commissioner";
  font-size: 1.6rem;
}

.overlay {
  position: fixed;
  z-index: 88;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.hide {
  display: none;
}

.seperator {
  position: relative;
  height: 1px;
  background-color: #f2f2f2;
  z-index: 9999;
}

.one,
.two,
.three {
  width: 90%;
  margin: auto;
  background-color: white;
  padding: 2rem;
  border: 1px #e6e6e6 solid;
  border-radius: 1rem;
}

.card {
  width: 100%;
  margin: auto;
  background-color: white;
  padding: 2rem;
  border: 1px #cccccc solid;
  border-radius: 1rem;
}

.hamburger {
  position: relative;
  top: 5px;
}

header {
  background: url("./images/image-hero-mobile.jpg") center/cover;
  height: 27rem;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

header .content {
  position: relative;
  z-index: 99;
}

header .content h1 {
  color: white;
  font-size: 2.4rem;
}

nav {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 3rem 2rem;
  position: fixed;
  z-index: 99;
  width: 90%;
  height: 25%;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -30%);
  background: white;
  border-radius: 1rem;
}

nav h4 {
  margin-left: 1rem;
  font-size: 2rem;
  font-weight: 500;
}

.close {
  display: none;
}

.one {
  position: relative;
  z-index: 1;
  top: -5rem;
}

.one .logo {
  position: absolute;
  top: -3rem;
  left: 50%;
  transform: translateX(-50%);
}

.one p {
  color: #7a7a7a;
  font-size: 1.4rem;
  line-height: 2.2rem;
  text-align: center;
}

.one__cta {
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
}

.one__cta button {
  flex: 1;
  margin-right: 1rem;
  border: none;
  padding: 1.5rem;
  border-radius: 3rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  background-color: #3cb4ac;
}

.two article {
  position: relative;
  padding: 2rem;
  text-align: center;
}

.two article h1 {
  font-size: 3.5rem;
  margin-bottom: 0.7rem;
}

.two article span {
  font-size: 1.5rem;
  color: #7a7a7a;
}

.two article:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  height: 1px;
  width: 25%;
  bottom: 0;
  background-color: #cccccc;
}

.two .progress-bar {
  position: relative;
  width: 90%;
  border-radius: 1rem;
  margin: 2rem auto;
  height: 1.5rem;
  background-color: #f2f2f2;
}

.two .progress-bar::after {
  content: "";
  position: absolute;
  border-radius: 1rem;
  width: 80%;
  height: 100%;
  background-color: #3cb4ac;
}

.three .content article p {
  font-size: 1.5rem;
  color: #7a7a7a;
  line-height: 2.5rem;
}

.three .content article:last-child {
  margin: 2rem 0;
}

.card p {
  margin: 2rem 0;
  font-size: 1.5rem;
  color: #7a7a7a;
  line-height: 2.5rem;
}

.card h2:nth-child(2) {
  color: #3cb4ac;
}

.card h1 {
  display: flex;
  align-items: flex-end;
  font-size: 3.5rem;
  padding: 1rem 0;
}

.card h1 span {
  position: relative;
  top: -7px;
  margin-left: 7px;
  font-weight: 500;
  font-size: 1.5rem;
  color: #7a7a7a;
}

.card button {
  margin-top: 1.5rem;
  border: none;
  padding: 1.5rem 2.5rem;
  background-color: #3cb4ac;
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 2.5rem;
}

.card--disabled {
  border-color: #ebebeb;
  color: #adadad;
}

.card--disabled h2:nth-child(2) {
  color: #a7e2de;
}

.card--disabled p {
  color: #adadad;
}

.card--disabled .disabled {
  background: #adadad;
  color: white;
}
