
  <header>
    
        <h1>crowdfund</h1>
        <nav>
          About
          Discover
          Get Started
        </nav>
    
  </header>

  <section>
    Mastercraft Bamboo Monitor Riser
    A beautiful & handcrafted monitor stand to reduce neck and eye strain.
  
    Back this project
    Bookmark
  </section>

  <section class="stats">
    <article>
      $89,914 
      of $100,000 backed
    </article>
    <article>
      5,007 
      total backers
    </article>

    <article>
      56 
      days left
    </article>

    <div class="progress-bar"></div>
    </section>

  </section>


  <section>
    About this project

    <article>
      The Mastercraft Bamboo Monitor Riser is a sturdy and stylish platform that elevates your screen 
      to a more comfortable viewing height. Placing your monitor at eye level has the potential to improve 
      your posture and make you more comfortable while at work, helping you stay focused on the task at hand.
    </article>

    <article>
      Featuring artisan craftsmanship, the simplicity of design creates extra desk space below your computer 
      to allow notepads, pens, and USB sticks to be stored under the stand.
    </article>
  </section>


  <section>
    <div class="card">
      Bamboo Stand
      Pledge $25 or more
      You get an ergonomic stand made of natural bamboo. You've helped us launch our promotional campaign, and 
      you’ll be added to a special Backer member list.
      101 left
      Select Reward
    </div>

    <div class="card">
      Black Edition Stand
      Pledge $75 or more
      You get a Black Special Edition computer stand and a personal thank you. You’ll be added to our Backer 
      member list. Shipping is included.
      64 left
      Select Reward
    </div>

    <div class="card">
      Mahogany Special Edition
      Pledge $200 or more
      You get two Special Edition Mahogany stands, a Backer T-Shirt, and a personal thank you. You’ll be added 
      to our Backer member list. Shipping is included.
      0 left
      Out of Stock
    </div>
  </section>
  



  <div class="selectionModal">
    Back this project
  Want to support us in bringing Mastercraft Bamboo Monitor Riser out in the world?

  <div class="selectionModal__card">
    Pledge with no reward
    Choose to support us without a reward if you simply believe in our project. As a backer, 
    you will be signed up to receive product updates via email.

    Bamboo Stand
    Pledge $25 or more
    You get an ergonomic stand made of natural bamboo. You've helped us launch our promotional campaign, and
    you’ll be added to a special Backer member list.
    101 left

    <div class="selectionModal__card--open">
    Enter your pledge
    $25
    Continue
    </div>
  </div>
  
  <div class="selectionModal__card">
    Black Edition Stand
  Pledge $75 or more
  You get a Black Special Edition computer stand and a personal thank you. You’ll be added to our Backer
  member list. Shipping is included.
  64 left

  <div class="selectionModal__card--open">
    Enter your pledge
  $75
  Continue
  </div>
  </div>
  
  <div class="selectionModal__card">
    Mahogany Special Edition
    Pledge $200 or more
    You get two Special Edition Mahogany stands, a Backer T-Shirt, and a personal thank you. You’ll be added
    to our Backer member list. Shipping is included.
    0 left

    <div class="selectionModal__card--open">
      Enter your pledge
  $200
  Continue
    </div>
  </div>

  </div>
  </div>

  <div class="successModal">
    Thanks for your support!
    Your pledge brings us one step closer to sharing Mastercraft Bamboo Monitor Riser worldwide. You will get
    an email once our campaign is completed.
    Got it!

  </div>