header {
  @include setBg(mobile);
  padding: 2rem;
  display: flex;
  justify-content: space-between;

  .content {
    position: relative;
    z-index: 99;

    h1 {
      color: white;
      font-size: $text-md;
    }
  }
}
