nav {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 3rem 2rem;

  position: fixed;
  z-index: 99;
  width: 90%;
  height: 25%;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -30%);

  background: white;
  border-radius: 1rem;

  h4 {
    margin-left: 1rem;
    font-size: 2rem;
    font-weight: 500;
  }
}

.close {
  display: none;
}
