.card {
  p {
    margin: 2rem 0;
    font-size: 1.5rem;
    color: $secondary-gray;
    line-height: 2.5rem;
  }

  h2:nth-child(2) {
    color: $primary-cyan;
  }

  h1 {
    display: flex;
    align-items: flex-end;
    font-size: $text-lg;
    padding: 1rem 0;

    span {
      position: relative;
      top: -7px;
      margin-left: 7px;
      font-weight: 500;
      font-size: 1.5rem;
      color: $secondary-gray;
    }
  }

  button {
    margin-top: 1.5rem;
    border: none;
    padding: 1.5rem 2.5rem;
    background-color: $primary-cyan;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 2.5rem;
  }
}

.card--disabled {
  border-color: lighten($primary-border-gray, 2%);
  color: lighten($secondary-gray, 20%);

  h2:nth-child(2) {
    color: lighten($primary-cyan, 30%);
  }

  p {
    color: lighten($secondary-gray, 20%);
  }

  .disabled {
    background: lighten($secondary-gray, 20%);
    color: white;
  }
}
