.two {
  article {
    position: relative;
    padding: 2rem;
    text-align: center;

    h1 {
      font-size: $text-lg;
      margin-bottom: 0.7rem;
    }

    span {
      font-size: 1.5rem;
      color: $secondary-gray;
    }

    &:not(:last-child)::after {
      content: "";
      position: absolute;
      right: 50%;
      transform: translateX(50%);
      height: 1px;
      width: 25%;
      bottom: 0;
      background-color: $secondary-border-gray;
    }
  }

  .progress-bar {
    position: relative;
    width: 90%;
    border-radius: 1rem;
    margin: 2rem auto;
    height: 1.5rem;
    background-color: $tertiary-border-gray;

    &::after{
      content: "";
      position: absolute;
      border-radius: 1rem;
      width: 80%;
      height: 100%;
      background-color: $primary-cyan;

    }
    
  }
}
