.three {
  .content {
    article {
      p {
        font-size: 1.5rem;
        color: $secondary-gray;
        line-height: 2.5rem;
      }

      &:last-child {
        margin: 2rem 0;
      }
    }
  }
}
