.one {
  position: relative;
  z-index: 1;
  top: -5rem;

  .logo {
    position: absolute;
    top: -3rem;
    left: 50%;
    transform: translateX(-50%);
  }


  p {
    color: $secondary-gray;
    font-size: 1.4rem;
    line-height: 2.2rem;
    text-align: center;
  }

  &__cta {
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;

    button {
      flex: 1;
      margin-right: 1rem;
      border: none;
      padding: 1.5rem;
      border-radius: 3rem;
      font-size: 1.5rem;
      font-weight: 700;
      color: white;
      background-color: $primary-cyan;
    }
  }
}
