* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $font-family;
  font-size: $text-default;
}

.overlay {
  position: fixed;
  z-index: 88;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.hide {
  display: none;
}

.seperator {
  position: relative;
  height: 1px;
  background-color: lighten($secondary-border-gray, 15%);
  z-index: 9999;
}

.one,
.two,
.three {
  width: 90%;
  margin: auto;
  background-color: white;
  padding: 2rem;
  @include setBorder($primary-border-gray);
}

.card {
  width: 100%;
  margin: auto;
  background-color: white;
  padding: 2rem;
  @include setBorder($secondary-border-gray);
}
