@mixin setBg($screen) {
  @if $screen == mobile {
    background: url("./images/image-hero-mobile.jpg") center/cover;
    height: 27rem;
  } @else {
    background: url("./images/image-hero-desktop.jpg") center/cover;
    height: 35rem;
  }
}

@mixin setBorder ($color) {
  border: 1px $color solid;
  border-radius: 1rem;
}
