.primary-title {
  margin: 2rem 0;
  font-size: $text-sm;
}

.sub-title {
  font-size: $text-default;
  font-weight: 700;
}

.sub-title--cyan {
  font-size: $text-default;
  font-weight: 700;
  color: $primary-cyan;
}
