.mb-xl {
  margin-bottom: 10rem !important;
}

.mb-lg {
  margin-bottom: 5rem !important;
}

.mb-md {
  margin-bottom: 2rem !important;
}

.mb-sm {
  margin-bottom: 0.7rem !important;
}

.text-cyan {
  color: $primary-cyan !important;
}

.text-center {
  text-align: center;
}
