$secondary-cyan: hsl(176, 72%, 28%);
$primary-cyan: hsl(176, 50%, 47%);
$secondary-gray: hsl(0, 0%, 48%);
$black: hsl(0, 0%, 0%);

$primary-border-gray: hsl(0, 0%, 90%);
$secondary-border-gray: hsl(0, 0%, 80%);
$tertiary-border-gray: hsl(0, 0%, 95%);

$font-family: "Commissioner";
$text-lg: 3.5rem;
$text-md: 2.4rem;
$text-sm: 2rem;
$text-default: 1.6rem;
